.container {
  display: flex;
  justify-content: center;
  background-color: #A7D2CB;
}
.header {
  display: flex;
  justify-content: center;
  background-color:  #C98474;
  padding: 30px;
}
.shop-cart {
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 350px;
}
h1 {
  color: #744456fe;
  font-family: 'Noto Sans Mono', monospace;
}
h2 {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: lighter;
  color: #C98474;
  font-size: 25px;
}
h3 {
  color: #744456fe;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 25px;
}
.text {
  width: 60%;
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 18px;
  color: #744456fe;
}
.shopping-cart {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: none;
  margin-right: 5px;
}
button {
  background: #C98474;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #6b4251fe;
  text-transform: uppercase;
  font-family: 'Noto Sans Mono', monospace;
}
.btnShow {
  background-color: #A7D2CB;
  color: rgb(116, 91, 93);
  text-transform: none;
  padding: 5px;
}
img {
  border-radius: 10px;
  box-shadow: 3px 3px 5px  rgb(109, 107, 107);
}
.price {
  justify-content: end;
  padding-bottom: 20px;
  font-family: 'Noto Sans Mono', monospace;
  margin: 0;
  font-size: 20px;
  color: #744456fe;
}
.btn {
  margin-top: 20px;
  margin-bottom: 20px; 
  font-size: 18px;
}
hr {
  width: 100%;
  border: 1px dashed #744456fe;
  margin-top: 20px;
}
